$default-text-size: 16px;
$default-radius: 5px;
$default-spacing: 16px;
$smooth-transition: cubic-bezier(0.4, 0.0, 0.2, 1);

$card-header-height: 35px;
$card-height: 340px + $card-header-height;

$header-height: $default-spacing * 4;
